<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginCtrl</servlet-name>
        <servlet-class>Controllers.LoginCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookPictureUploadCtrl</servlet-name>
        <servlet-class>Controllers.BookPictureUploadCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookPictureCtrl</servlet-name>
        <servlet-class>Controllers.BookPictureCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderCtrl</servlet-name>
        <servlet-class>Controllers.CreateOrderCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookDetailServlet</servlet-name>
        <servlet-class>Controllers.bookDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountCtrl</servlet-name>
        <servlet-class>Controllers.AccountCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controllers.CartCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailCustomerCtrl</servlet-name>
        <servlet-class>Controllers.orderDetailCustomerCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCtrl</servlet-name>
        <servlet-class>Controllers.RegisterCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPCtrl</servlet-name>
        <servlet-class>Controllers.OTPCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistributorCtrl</servlet-name>
        <servlet-class>Controllers.DistributorCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>Controllers.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTransactionCtrl</servlet-name>
        <servlet-class>Controllers.BookTransactionCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountListCtrl</servlet-name>
        <servlet-class>Controllers.AccountListCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountUpdateCtrl</servlet-name>
        <servlet-class>Controllers.AccountUpdateCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetailCtrl</servlet-name>
        <servlet-class>Controllers.AccountDetailCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookPictureUploadCtrl</servlet-name>
        <url-pattern>/BookPictureUploadCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookPictureCtrl</servlet-name>
        <url-pattern>/BookPictureCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderCtrl</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountCtrl</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookDetailServlet</servlet-name>
        <url-pattern>/bookdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCtrl</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailCustomerCtrl</servlet-name>
        <url-pattern>/orderDetailCustomerCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCtrl</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPCtrl</servlet-name>
        <url-pattern>/Otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistributorCtrl</servlet-name>
        <url-pattern>/DistributorCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/BookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTransactionCtrl</servlet-name>
        <url-pattern>/BookTransactionCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountListCtrl</servlet-name>
        <url-pattern>/AccountList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountUpdateCtrl</servlet-name>
        <url-pattern>/AccountUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetailCtrl</servlet-name>
        <url-pattern>/AccountDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
