<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>Filters.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginCtrl</servlet-name>
        <servlet-class>Controllers.LoginCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderCtrl</servlet-name>
        <servlet-class>Controllers.CreateOrderCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetailCtrl</servlet-name>
        <servlet-class>Controllers.BookDetailCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountCreateCtrl</servlet-name>
        <servlet-class>Controllers.AccountCreateCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controllers.CartCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailCustomerCtrl</servlet-name>
        <servlet-class>Controllers.orderDetailCustomerCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCtrl</servlet-name>
        <servlet-class>Controllers.RegisterCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPCtrl</servlet-name>
        <servlet-class>Controllers.OTPCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistributorCtrl</servlet-name>
        <servlet-class>Controllers.DistributorCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAdminCtrl</servlet-name>
        <servlet-class>Controllers.BookAdminCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTransactionCtrl</servlet-name>
        <servlet-class>Controllers.BookTransactionCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountListCtrl</servlet-name>
        <servlet-class>Controllers.AccountListCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountUpdateCtrl</servlet-name>
        <servlet-class>Controllers.AccountUpdateCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetailCtrl</servlet-name>
        <servlet-class>Controllers.AccountDetailCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderListCustomerCtrl</servlet-name>
        <servlet-class>Controllers.orderListCustomerCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCreateCtrl</servlet-name>
        <servlet-class>Controllers.BookCreateCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookUpdateCtrl</servlet-name>
        <servlet-class>Controllers.BookUpdateCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDeleteCtrl</servlet-name>
        <servlet-class>Controllers.CartDeleteCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDelete</servlet-name>
        <servlet-class>Controllers.AccountDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUpdate</servlet-name>
        <servlet-class>Controllers.ProfileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressCtrl</servlet-name>
        <servlet-class>Controllers.AddressCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSearch</servlet-name>
        <servlet-class>Controllers.BookSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListCtrl</servlet-name>
        <servlet-class>Controllers.OrderListCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderStatusUpdate</servlet-name>
        <servlet-class>Controllers.OrderStatusUpdateCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAddNewAddressCtrl</servlet-name>
        <servlet-class>Controllers.OrderAddNewAddressCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPCtrl</servlet-name>
        <servlet-class>Controllers.OTPCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordCtrl</servlet-name>
        <servlet-class>Controllers.ResetPasswordCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCtrl</servlet-name>
        <servlet-class>Controllers.EmailCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOTPCtrl</servlet-name>
        <servlet-class>Controllers.CancelOTPCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPCtrl</servlet-name>
        <servlet-class>Controllers.OTPCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordCtrl</servlet-name>
        <servlet-class>Controllers.ResetPasswordCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCtrl</servlet-name>
        <servlet-class>Controllers.EmailCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOTPCtrl</servlet-name>
        <servlet-class>Controllers.CancelOTPCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSelectType</servlet-name>
        <servlet-class>Controllers.BookSelectType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDataCtrl</servlet-name>
        <servlet-class>Controllers.CartDataCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageCtrl</servlet-name>
        <servlet-class>Controllers.HomePageCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookBrowseCtrl</servlet-name>
        <servlet-class>Controllers.BookBrowseCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrderCtrl</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountCreateCtrl</servlet-name>
        <url-pattern>/Account/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailCtrl</servlet-name>
        <url-pattern>/Book/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCtrl</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailCustomerCtrl</servlet-name>
        <url-pattern>/orderDetailCustomerCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCtrl</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistributorCtrl</servlet-name>
        <url-pattern>/DistributorCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAdminCtrl</servlet-name>
        <url-pattern>/Manager/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTransactionCtrl</servlet-name>
        <url-pattern>/BookTransactionCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountListCtrl</servlet-name>
        <url-pattern>/Account/List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountUpdateCtrl</servlet-name>
        <url-pattern>/Account/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetailCtrl</servlet-name>
        <url-pattern>/Account/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderListCustomerCtrl</servlet-name>
        <url-pattern>/orderListCustomerCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCreateCtrl</servlet-name>
        <url-pattern>/BookCreateCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookUpdateCtrl</servlet-name>
        <url-pattern>/Manager/Book/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDeleteCtrl</servlet-name>
        <url-pattern>/Delete/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDelete</servlet-name>
        <url-pattern>/Account/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUpdate</servlet-name>
        <url-pattern>/Profile/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressCtrl</servlet-name>
        <url-pattern>/Address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSearch</servlet-name>
        <url-pattern>/BookSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListCtrl</servlet-name>
        <url-pattern>/Order/List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderStatusUpdate</servlet-name>
        <url-pattern>/OrderStatusUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAddNewAddressCtrl</servlet-name>
        <url-pattern>/Order/AddAddress</url-pattern>
        <url-pattern>/Order/AddNewAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPCtrl</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordCtrl</servlet-name>
        <url-pattern>/Reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCtrl</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOTPCtrl</servlet-name>
        <url-pattern>/Cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSelectType</servlet-name>
        <url-pattern>/BookSelectType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDataCtrl</servlet-name>
        <url-pattern>/Cart/Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageCtrl</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookBrowseCtrl</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
